body {
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(bg-desktop.png);
}

.box{
  display: flex;
  gap: 25px;
}

.container-1{
  background-color: #1d2b68;
  width: 250px;
  padding: 25px;
  height: 120px;
  border-top-right-radius: 65px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.container-2 {
  background-color: #1d2b68;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: block;
  width: 500px;
  margin-top: 30px;
}

.box-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.logo {
  height: 40px;
  width: 120px;
  margin-top: 25px;
}

.img-icons {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: #344065;
  border-radius: 4px;
}

.line {
  margin-bottom: 10px;
  font-size: 14px;
}

.progress-1 {
  background-color: #2e354b;
  height: 12px;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 20px;
}

.gbs-1{
  display: flex;
}

.gbs-2{
  display: flex;
  justify-content: end;
  margin-top: -35px;
}

.progress-2 {
  background-color: #ff4b6e;
  height: 100%;
  border-radius: 6px 0px 0px 6px;
}
